<div class="container">
  <div class="use-terms-header">
    <h2>Transdit</h2>
    <h3>Termos de uso da ferramenta</h3>
  </div>

  <div class="use-terms-main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et eros at urna scelerisque finibus vel nec urna. Pellentesque aliquam lectus quis aliquet condimentum. Donec consequat suscipit eros, quis pellentesque nulla consequat egestas. Proin euismod, odio id auctor tempor, urna quam fermentum nunc, molestie venenatis ante augue non ligula. Vestibulum molestie felis sed ante vestibulum facilisis. Duis vel quam mollis, vulputate velit in, ultrices odio. Maecenas pellentesque orci non velit sodales, sit amet euismod augue lobortis. Maecenas at euismod justo, sit amet dignissim velit. Vestibulum finibus non erat vitae dignissim. Ut tortor sem, ullamcorper eget laoreet ac, cursus ut nibh. Proin nec lacinia ante, at vestibulum leo. Aliquam rhoncus enim dui, scelerisque facilisis nulla auctor vel. Praesent sit amet pellentesque quam. Ut tempor auctor nisi ut auctor. Nam ex metus, laoreet sit amet purus hendrerit, interdum rutrum urna.</p>
    <hr>
    <p>Cras placerat, purus blandit lacinia fringilla, lectus mauris varius nisi, sed interdum nulla arcu quis massa. In lacinia consequat luctus. Fusce eget fringilla mi. Maecenas rhoncus ex feugiat ex cursus suscipit. Suspendisse a metus in quam sollicitudin aliquam malesuada et leo. Nulla sed quam a est convallis scelerisque. Morbi sagittis in metus eget viverra. Nam at consequat velit. Aliquam sit amet iaculis ex, et scelerisque magna. Nulla ornare mollis elit, quis tincidunt nibh sollicitudin ac. Aenean commodo felis quam, quis auctor libero sollicitudin ut. Vestibulum eleifend tempor cursus. Nunc convallis vel orci ut rhoncus. Nunc faucibus viverra tincidunt.</p>
    <hr>
    <p>Nulla imperdiet nulla at enim rutrum ornare. Donec consectetur sem vel diam lacinia, ut ullamcorper mi cursus. Vivamus et augue viverra, dictum mi at, fermentum tortor. Aliquam rhoncus consequat faucibus. Vivamus ultricies nibh at risus vulputate, et vehicula quam consequat. Suspendisse convallis est ut risus vulputate elementum. Etiam non massa bibendum, sagittis lectus sit amet, accumsan neque. Quisque et nunc non sapien dictum aliquet. Sed finibus eros vitae lacus aliquam, vel imperdiet lectus pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed dapibus nunc elit, non feugiat sapien tempus ac. Quisque tincidunt odio nec sem mattis pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

  </div>
  <div class="row">
    <div class="col s2 offset-s10">
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Fechar</button>
      </div>
    </div>
  </div>
</div>
