<div mat-dialog-title>Deseja atualizar o dicionário <em *ngIf="dictionary">'{{dictionary.name}}'</em></div>
<div mat-dialog-content>
  <form>
    campos com bind multidirecional alterando o valor do objeto enviado pelo input e enviar atualizando para o backend(considerar a atualização das palavras tbm['(ngModel)'])
  </form>
  This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">Atualizar</button>
</div>