<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2 class="white-text">Transdit</h2>
        <p class="grey-text text-lighten-4">Transcrições de mídias variadas, em diversos idiomas e com indicadores de precisão.
           Para mais informações, entrem em contato.</p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 clickable" (click)="showUseTerms()">Termos de uso</a></li>
          <li><a class="grey-text text-lighten-3 clickable" (click)="showUseInformations()">Informações sobre uso</a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Alterar idioma</h5>
        <a class="grey-text text-lighten-3 clickable" (click)="showLanguageSelection()">Idiomas</a>        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © {{ currentDate | date: 'yyyy' }} Transdit Ltda.
    <a class="grey-text text-lighten-4 right" href="mailto:contato.transdit@outlook.com">Entre em contato</a>
    </div>
  </div>
</footer>
