.nav-main {
  background-color: var(--main-bg-color) !important;
}

@media only screen and (min-width: 601px) {
nav .nav-wrapper {
  margin-right: 2%;
  margin-left: 3%;
  }
}
.nav-main {
  margin-bottom: 3% !important;
}

button:focus {
  background-color: whitesmoke;
  color: var(--main-bg-color);
}
