<nav class="nav-main" *ngIf="isAuthenticated">
  <div class="nav-wrapper">
    <a routerLink="/app" class="brand-logo">
      <img src="favicon.ico" alt="site logo">
      Transdit
    </a>
    <ul class="right hide-on-med-and-down">
      <li [routerLinkActive]="'active'"><a routerLink="/app/transcricoes"><i class="material-icons left">transcribe</i>Transcrições</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/app/dicionarios"><i class="material-icons left">menu_book</i>Dicionários</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/app/usuarios"><i class="material-icons right">manage_accounts</i>Perfil</a></li>
      <li><a class="clickable" (click)="logout()"><i class="material-icons">logout</i></a></li>
    </ul>
    <ul class="right hide-on-large-only">
      <li><button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button></li>
    </ul>
  </div>
  <mat-menu #menu="matMenu">
    <a class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item" routerLink="/app/transcricoes"><i class="material-icons left">transcribe</i>Transcrições</a>
    <a class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item" routerLink="/app/dicionarios"><i class="material-icons left">menu_book</i>Dicionários</a>
    <a class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item" routerLink="/app/usuarios"><i class="material-icons left">manage_accounts</i>Perfil</a>
    <a class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item" (click)="logout()"><i class="material-icons left">logout</i>Sair</a>
  </mat-menu>
</nav>

<nav class="nav-main" *ngIf="!isAuthenticated">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">
      <img src="favicon.ico" alt="site logo">
      Transdit</a>
    <ul class="right hide-on-med-and-down">
      <li [routerLinkActive]="'active'"><a routerLink="cadastro"><i class="material-icons left">person_add</i>Cadastro</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="login"><i class="material-icons right">login</i>Login</a></li>
    </ul>
    <ul class="right hide-on-large-only">
      <li><button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button></li>
    </ul>
  </div>
  <mat-menu #menu="matMenu">
    <a class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item" routerLink="cadastro"><i class="material-icons left">person_add</i>Cadastro</a>
    <a class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item" routerLink="login"><i class="material-icons left">login</i>Login</a>
  </mat-menu>
</nav>
