/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: #792f99;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  flex: 1 0 auto;
}

.clickable{
  cursor: pointer;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix
{
  padding-top: 15px !important;
  padding-bottom: 5px !important;
}
.mat-mdc-form-field {
  display: flex !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f8e9ff8a !important;
}
.mat-mdc-unelevated-button.mat-primary:not(:disabled) {
  background-color: var(--main-bg-color) !important;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.spinner-loading{
  position: fixed !important;
  top: 40% !important;
  left: 50% !important;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.spinner-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  backdrop-filter: blur(1.5px);
}

.mat-mdc-slide-toggle .mdc-switch:focus{
background-color: transparent !important;
}

.mat-mdc-paginator-container{
  justify-content: center !important;
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 3% !important;
}

input[type=range] {
  margin: revert;
  position: absolute !important;
}

button:focus {
  background-color: transparent !important;
}

.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary button:focus{
  background-color: var(--main-bg-color) !important;
  color: whitesmoke !important;
}
