<div class="row">
  <div class="col s12">
    <h2>Confirmação de conta</h2>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h2>{{name ? 'Olá, '+ name+ '. ' : 'Olá, '}}</h2>
    <h3>Seja bem vindo, o seu acessso à plataforma está concedido.</h3>
    <p>Não esqueça de se manter nos conformes dos <a class="text-lighten-3 clickable" (click)="showUseTerms()">termos</a> de uso e também a nossa <a class="text-lighten-3 clickable" (click)="showUseInfo()">FAQ</a> de uso da plataforma.</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <img class="responsive-img center" src="https://storage.googleapis.com/transditbucket/header-email.jpg" alt="pessoa traduzindo" title="pessoa traduzindo">
  </div>
</div>
